/* line 17, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 19, ../sass/_base.scss */
.cf:before, #header:before, #wrapper:before, #search_filter:before,
.cf:after,
#header:after,
#wrapper:after,
#search_filter:after {
  content: " ";
  display: table;
}

/* line 24, ../sass/_base.scss */
.cf:after, #header:after, #wrapper:after, #search_filter:after {
  clear: both;
}

/* line 28, ../sass/_base.scss */
.cf, #header, #wrapper, #search_filter {
  *zoom: 1;
}

/* line 32, ../sass/_base.scss */
body {
  font-family: 'Lucida Grande', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, sans-serif;
  font-size: 13px;
  font-size: 0.8125rem;
  -webkit-text-size-adjust: 100%;
  width: 100%;
  margin: 0 auto;
  color: #4c4c4c;
  box-sizing: border-box;
  line-height: 1.2;
  padding: 0;
  min-width: 320px;
}

/* line 46, ../sass/_base.scss */
submit {
  cursor: pointer;
}

/* line 50, ../sass/_base.scss */
a {
  text-decoration: underline;
  cursor: pointer;
  color: #1385c4;
}

/* line 56, ../sass/_base.scss */
#header {
  box-sizing: border-box;
  display: block;
  width: 100%;
  min-height: 91px;
  border-top: 3px solid #4D4D4D;
  border-bottom: 1px solid #F0F0F0;
  padding-bottom: 10px;
  /* Firefox v3.6+ */
  background-image: -moz-linear-gradient(51% 0% 90deg, #fafafa 0%, #f0f0f0 100%);
  /* safari v4.0+ and by Chrome v3.0+ */
  background-image: -webkit-gradient(linear, 51% 0%, 51% -115%, color-stop(0, #fafafa), color-stop(1, #f0f0f0));
  /* Chrome v10.0+ and by safari nightly build*/
  background-image: -webkit-linear-gradient(90deg, #fafafa 0%, #f0f0f0 100%);
  /* Opera v11.10+ */
  background-image: -o-linear-gradient(90deg, #fafafa 0%, #f0f0f0 100%);
  /* IE v10+ */
  background-image: -ms-linear-gradient(90deg, #fafafa 0%, #f0f0f0 100%);
  background-image: linear-gradient(0deg, #fafafa 0%, #f0f0f0 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#fff0f0f0,endColorstr=#fffafafa,GradientType=0)";
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#fff0f0f0,endColorstr=#fffafafa,GradientType=0);
}
@media screen and (max-width: 480px) {
  /* line 56, ../sass/_base.scss */
  #header {
    min-height: 70px;
  }
}

/* line 82, ../sass/_base.scss */
#h_wrap {
  position: relative;
  width: 900px;
  margin: 10px auto 0;
}
@media screen and (max-width: 480px) {
  /* line 82, ../sass/_base.scss */
  #h_wrap {
    width: 100%;
  }
}
/* line 89, ../sass/_base.scss */
#h_wrap #logo {
  display: block;
  float: left;
  width: 210px;
  margin-right: 100px;
}
@media screen and (max-width: 480px) {
  /* line 89, ../sass/_base.scss */
  #h_wrap #logo {
    float: none;
    margin: 0 auto;
  }
}
/* line 99, ../sass/_base.scss */
#h_wrap #search {
  box-sizing: border-box;
  right: -30px;
  top: 24px;
  position: absolute;
  display: inline-block;
  width: 620px;
  height: 31px;
}
@media screen and (max-width: 480px) {
  /* line 99, ../sass/_base.scss */
  #h_wrap #search {
    width: 300px;
    position: static;
    height: auto;
    display: block;
    margin: 10px auto;
    float: none;
  }
}
/* line 116, ../sass/_base.scss */
#h_wrap #c_search {
  float: left;
  width: 150px;
  height: 31px;
  margin-right: 30px;
}
@media screen and (max-width: 480px) {
  /* line 116, ../sass/_base.scss */
  #h_wrap #c_search {
    display: none;
  }
}
/* line 124, ../sass/_base.scss */
#h_wrap #c_search select {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  width: 150px;
  height: 31px;
  background: white url(../img/search_arrow.png) no-repeat 130px center;
  border: 1px solid #e0e0e0;
  border-radius: 0;
  outline: none;
  font-size: 13px;
  font-size: 0.8125rem;
  font-weight: bold;
  color: #4D4D4D;
  padding: 5px 0 0 10px;
}
/* line 140, ../sass/_base.scss */
#h_wrap #k_search {
  float: left;
  width: 420px;
  height: 31px;
}
@media screen and (max-width: 480px) {
  /* line 140, ../sass/_base.scss */
  #h_wrap #k_search {
    float: none;
    height: auto;
    width: 100%;
  }
}
/* line 149, ../sass/_base.scss */
#h_wrap #k_search .key {
  float: left;
  width: 320px;
  height: 28px;
  background: white;
  border: 1px solid #e0e0e0;
  outline: none;
  margin-right: 10px;
}
@media screen and (max-width: 480px) {
  /* line 149, ../sass/_base.scss */
  #h_wrap #k_search .key {
    width: 200px;
  }
}
/* line 162, ../sass/_base.scss */
#h_wrap #k_search .s_btn {
  cursor: pointer;
  display: block;
  width: 70px;
  height: 31px;
  background: url(../img/btn_search.png) no-repeat;
  text-indent: -9999px;
  border: none;
  outline: none;
}

/* line 176, ../sass/_base.scss */
#wrapper {
  box-sizing: border-box;
  width: 900px;
  margin: 0 auto;
}
@media screen and (max-width: 480px) {
  /* line 176, ../sass/_base.scss */
  #wrapper {
    width: 100%;
    padding: 0 10px;
  }
}

/* line 187, ../sass/_base.scss */
#breadcrumb {
  box-sizing: border-box;
  color: #8f8f8f;
  padding: 10px 0;
  margin-bottom: 55px;
  width: 900px;
  border-bottom: 1px solid #F0F0F0;
}
/* line 188, ../sass/_base.scss */
#breadcrumb a {
  text-decoration: none;
}
@media screen and (max-width: 480px) {
  /* line 187, ../sass/_base.scss */
  #breadcrumb {
    width: 100%;
    margin: 0 auto 20px;
    padding: 10px 0;
    font-size: 12px;
    font-size: 0.75rem;
    line-height: 1.3;
  }
}
/* line 204, ../sass/_base.scss */
#breadcrumb ol li {
  display: inline-block;
  padding-right: 5px;
}
@media screen and (max-width: 480px) {
  /* line 204, ../sass/_base.scss */
  #breadcrumb ol li {
    padding-right: 2px;
  }
}
/* line 210, ../sass/_base.scss */
#breadcrumb ol li:before {
  padding-right: 10px;
  content: ">";
}
@media screen and (max-width: 480px) {
  /* line 210, ../sass/_base.scss */
  #breadcrumb ol li:before {
    padding-right: 5px;
  }
}
/* line 218, ../sass/_base.scss */
#breadcrumb ol li:first-child:before {
  content: none;
}

/* line 226, ../sass/_base.scss */
#f_breadcrumb {
  color: #8f8f8f;
  padding: 10px 0 0;
  margin: 30px 0 15px;
  width: 900px;
  border-top: 1px solid #F0F0F0;
}
/* line 227, ../sass/_base.scss */
#f_breadcrumb a {
  text-decoration: none;
}
@media screen and (max-width: 480px) {
  /* line 226, ../sass/_base.scss */
  #f_breadcrumb {
    display: none;
  }
}
/* line 238, ../sass/_base.scss */
#f_breadcrumb ol li {
  display: inline;
  padding-right: 5px;
}
/* line 241, ../sass/_base.scss */
#f_breadcrumb ol li:before {
  padding-right: 10px;
  content: ">";
}
/* line 246, ../sass/_base.scss */
#f_breadcrumb ol li:first-child:before {
  content: none;
}

/* line 253, ../sass/_base.scss */
#footer {
  box-sizing: border-box;
  line-height: 1.5;
  padding-top: 50px;
  font-size: 11px;
  font-size: 0.6875rem;
  width: 100%;
  display: block;
  width: 100%;
  min-height: 115px;
  border-top: 1px solid #F0F0F0;
  padding-bottom: 10px;
  /* Firefox v3.6+ */
  background-image: -moz-linear-gradient(51% 0% 90deg, #fafafa 0%, #f0f0f0 100%);
  /* safari v4.0+ and by Chrome v3.0+ */
  background-image: -webkit-gradient(linear, 51% 0%, 51% -115%, color-stop(0, #fafafa), color-stop(1, #f0f0f0));
  /* Chrome v10.0+ and by safari nightly build*/
  background-image: -webkit-linear-gradient(90deg, #fafafa 0%, #f0f0f0 100%);
  /* Opera v11.10+ */
  background-image: -o-linear-gradient(90deg, #fafafa 0%, #f0f0f0 100%);
  /* IE v10+ */
  background-image: -ms-linear-gradient(90deg, #fafafa 0%, #f0f0f0 100%);
  background-image: linear-gradient(0deg, #fafafa 0%, #f0f0f0 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#fff0f0f0,endColorstr=#fffafafa,GradientType=0)";
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#fff0f0f0,endColorstr=#fffafafa,GradientType=0);
}

/* line 279, ../sass/_base.scss */
#f_wrapper {
  box-sizing: border-box;
  text-align: center;
  width: 900px;
  margin: 0 auto;
}
@media screen and (max-width: 480px) {
  /* line 279, ../sass/_base.scss */
  #f_wrapper {
    width: 100%;
    padding: 0 10px;
  }
}

/* line 290, ../sass/_base.scss */
#facebook {
  margin: 60px 0 50px;
}
@media screen and (max-width: 480px) {
  /* line 290, ../sass/_base.scss */
  #facebook {
    display: none;
  }
}

/* line 300, ../sass/_base.scss */
#f_nav1 ul {
  font-weight: bold;
}
/* line 303, ../sass/_base.scss */
#f_nav1 ul li {
  font-weight: normal;
  display: inline;
  padding-right: 5px;
}
/* line 307, ../sass/_base.scss */
#f_nav1 ul li:before {
  padding-right: 5px;
  color: #cccccc;
  content: "|";
}
/* line 312, ../sass/_base.scss */
#f_nav1 ul li:first-child {
  padding-left: 5px;
}
/* line 314, ../sass/_base.scss */
#f_nav1 ul li:first-child:before {
  content: none;
}
/* line 319, ../sass/_base.scss */
#f_nav1 ul li, #f_nav1 a {
  color: #EB6C11;
  text-decoration: none;
}

/* line 325, ../sass/_base.scss */
#f_nav2 {
  margin: 20px 0;
}
/* line 327, ../sass/_base.scss */
#f_nav2 ul li {
  display: inline;
  padding-right: 5px;
}
/* line 330, ../sass/_base.scss */
#f_nav2 ul li:before {
  padding-right: 5px;
  color: #cccccc;
  content: "|";
}
/* line 336, ../sass/_base.scss */
#f_nav2 ul li:first-child:before {
  content: none;
}
/* line 341, ../sass/_base.scss */
#f_nav2 ul li, #f_nav2 a {
  color: #bdbdbd;
  text-decoration: none;
}

/* line 348, ../sass/_base.scss */
small {
  color: #bdbdbd;
  font-size: 10px;
  font-size: 0.625rem;
}

/* line 352, ../sass/_base.scss */
.b_none {
  border: none !important;
}

/* line 355, ../sass/_base.scss */
.bold {
  font-weight: bold;
}

/* line 359, ../sass/_base.scss */
#sp_f_nav {
  border-top: 1px solid #e0e0e0;
  padding-top: 20px;
  box-sizing: border-box;
  display: block;
  width: 100%;
  margin: 20px auto;
}
/* line 362, ../sass/_base.scss */
#sp_f_nav #sfn_wrap {
  box-sizing: border-box;
  width: 310px;
  margin: 0 auto;
}
/* line 371, ../sass/_base.scss */
#sp_f_nav ul li, #sp_f_nav a {
  height: 30px;
  width: 145px;
  display: inline-block;
  color: #8f8f8f;
  font-weight: bold;
  text-decoration: none;
}
/* line 380, ../sass/_base.scss */
#sp_f_nav ul li {
  box-sizing: border-box;
  text-align: center;
  border: 1px solid #e0e0e0;
  padding-top: 7px;
}
/* line 385, ../sass/_base.scss */
#sp_f_nav ul li#back_search {
  margin-right: 10px;
  background: url(../img/arrow_backsearch.png) no-repeat 10px center;
}
/* line 389, ../sass/_base.scss */
#sp_f_nav ul li#to_top {
  background: url(../img/arrow_totop.png) no-repeat 10px center;
}
@media screen and (min-width: 481px) {
  /* line 359, ../sass/_base.scss */
  #sp_f_nav {
    display: none;
  }
}

/* line 3, ../sass/search.scss */
#breadcrumb {
  margin-bottom: 20px !important;
}

/* line 7, ../sass/search.scss */
#search_filter {
  height: 40px;
  width: 100%;
  display: block;
  box-sizing: border-box;
}
/* line 13, ../sass/search.scss */
#search_filter #result {
  box-sizing: border-box;
  display: block;
  width: 40%;
  float: left;
  padding-top: 10px;
}
@media screen and (max-width: 480px) {
  /* line 13, ../sass/search.scss */
  #search_filter #result {
    float: none;
    width: 100%;
    margin-bottom: 10px;
  }
}
/* line 25, ../sass/search.scss */
#search_filter #filter {
  display: block;
  width: 160px;
  height: 31px;
  float: right;
}
@media screen and (max-width: 480px) {
  /* line 25, ../sass/search.scss */
  #search_filter #filter {
    float: none;
    width: 100%;
  }
}
/* line 34, ../sass/search.scss */
#search_filter #filter select {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  width: 160px;
  height: 31px;
  background: white url(../img/search_arrow.png) no-repeat right 10px center;
  border: 1px solid #e0e0e0;
  border-radius: 0;
  outline: none;
  font-size: 13px;
  font-size: 0.8125rem;
  font-weight: bold;
  color: #4D4D4D;
  padding: 5px 0 0 10px;
}
@media screen and (max-width: 480px) {
  /* line 34, ../sass/search.scss */
  #search_filter #filter select {
    background: white url(../img/search_arrow.png) no-repeat right 10px center;
    width: 100%;
    text-align: -webkit-center;
    text-align: center;
  }
}
@media screen and (max-width: 480px) {
  /* line 7, ../sass/search.scss */
  #search_filter {
    height: auto;
    margin-bottom: 20px;
  }
}

/* line 64, ../sass/search.scss */
#search_table {
  clear: both;
  margin: 20px 0 0;
  table-layout: fixed;
  text-align: center;
  width: 900px;
}
@media screen and (max-width: 480px) {
  /* line 64, ../sass/search.scss */
  #search_table {
    width: 100%;
    margin: 0 auto;
  }
}
/* line 74, ../sass/search.scss */
#search_table th {
  line-height: 1.3;
  color: #1385c4;
}
@media screen and (max-width: 480px) {
  /* line 74, ../sass/search.scss */
  #search_table th {
    display: none;
  }
}
/* line 80, ../sass/search.scss */
#search_table th#product_name {
  text-align: center;
  width: 360px;
  color: #4c4c4c;
}
/* line 86, ../sass/search.scss */
#search_table th#value_score {
  text-align: center;
  width: 100px;
  color: #1385c4;
}
/* line 92, ../sass/search.scss */
#search_table th#new_price {
  text-align: center;
  width: 100px;
}
/* line 98, ../sass/search.scss */
#search_table th#contract_price {
  text-align: center;
  width: 100px;
}
/* line 103, ../sass/search.scss */
#search_table th#quotations {
  text-align: center;
  width: 100px;
}
/* line 108, ../sass/search.scss */
#search_table th#insession {
  text-align: center;
  width: 70px;
}
/* line 114, ../sass/search.scss */
#search_table th#compare {
  text-align: center;
  width: 70px;
  color: #4c4c4c;
}
/* line 119, ../sass/search.scss */
#search_table th.sort_th {
  background: #eb6c11;
  background-image: url(../img/arrow_sort.gif);
  background-repeat: no-repeat;
  background-position: 85px center;
  color: white;
  font-weight: bold;
}
/* line 129, ../sass/search.scss */
#search_table td {
  text-align: center;
  padding-bottom: 10px;
  font-weight: bold;
}
/* line 133, ../sass/search.scss */
#search_table td .new_price {
  color: #1385c4;
}
/* line 136, ../sass/search.scss */
#search_table td .contract_price {
  color: #eb6c11;
}
/* line 139, ../sass/search.scss */
#search_table td .quotations {
  color: #eb6c11;
}
/* line 142, ../sass/search.scss */
#search_table td .insession {
  color: #1385c4;
}
/* line 145, ../sass/search.scss */
#search_table td .sort_td {
  background: #FEF8F3;
}
/* line 149, ../sass/search.scss */
#search_table tr.table_contents {
  height: 100px;
  text-align: center;
  vertical-align: middle;
  border-bottom: 1px solid #F0F0F0;
  position: relative;
}

/* line 160, ../sass/search.scss */
.table_contents p {
  margin: 0 auto;
}
/* line 163, ../sass/search.scss */
.table_contents p.btn_compare {
  width: 56px;
  height: 30px;
  overflow: hidden;
  text-indent: -9999px;
  cursor: pointer;
}
/* line 169, ../sass/search.scss */
.table_contents p.btn_compare:hover {
  filter: alpha(opacity=80);
  opacity: 0.80;
}
/* line 174, ../sass/search.scss */
.table_contents p.btn_add {
  background: url(../img/btn_add.png) no-repeat;
}
/* line 178, ../sass/search.scss */
.table_contents p.btn_remove {
  background: url(../img/btn_del.png) no-repeat;
}

@media screen and (max-width: 480px) {
  /* line 184, ../sass/search.scss */
  .c_btn {
    vertical-align: top;
    padding-top: 25px;
  }
  /* line 188, ../sass/search.scss */
  .c_btn img {
    padding-top: 10px;
  }
}

/* line 194, ../sass/search.scss */
.value_score {
  box-sizing: border-box;
  color: white;
  font-size: 20px;
  font-size: 1.25rem;
  padding-top: 10px;
}
/* line 199, ../sass/search.scss */
.value_score.vs_1 {
  background: url(../img/bg_vs_1.png) no-repeat center center;
  background-size: 64px 65px;
}
/* line 203, ../sass/search.scss */
.value_score.vs_2 {
  background: url(../img/bg_vs_2.png) no-repeat center center;
  background-size: 64px 65px;
}
/* line 207, ../sass/search.scss */
.value_score.vs_3 {
  background: url(../img/bg_vs_3.png) no-repeat center center;
  background-size: 64px 65px;
}
/* line 211, ../sass/search.scss */
.value_score.vs_4 {
  background: url(../img/bg_vs_4.png) no-repeat center center;
  background-size: 64px 65px;
}
@media screen and (max-width: 480px) {
  /* line 194, ../sass/search.scss */
  .value_score {
    display: none;
    width: 51px;
    height: 51px;
    background-size: contain;
    font-size: 16px;
    font-size: 1rem;
    padding-top: 16px;
    position: relative;
    top: 10px;
    left: 10px;
  }
}

/* line 228, ../sass/search.scss */
.s_table_pic {
  border: 1px solid #e0e0e0;
  width: 75px;
  height: auto;
  float: left;
  margin-right: 10px;
  margin-top: 10px;
}
@media screen and (max-width: 480px) {
  /* line 228, ../sass/search.scss */
  .s_table_pic {
    width: 63px;
    height: auto;
  }
}

/* line 241, ../sass/search.scss */
.product_name {
  vertical-align: middle;
}
/* line 243, ../sass/search.scss */
.product_name p {
  text-align: left;
  padding-top: 26px;
  color: #1385c4;
  line-height: 1.7;
  font-weight: bold;
}
@media screen and (max-width: 480px) {
  /* line 243, ../sass/search.scss */
  .product_name p {
    display: block;
    width: 310px;
    float: left;
    font-size: 12px;
    font-size: 0.75rem;
    padding-top: 10px;
  }
}
/* line 256, ../sass/search.scss */
.product_name p a {
  text-decoration: none;
}
/* line 258, ../sass/search.scss */
.product_name p a:hover {
  text-decoration: underline;
}

/* line 264, ../sass/search.scss */
.table_header {
  height: 50px;
  border-top: 1px solid #e0e0e0;
  /* Firefox v3.6+ */
  background-image: -moz-linear-gradient(50% 0% -90deg, #fafafa 0%, #f0f0f0 100%);
  /* safari v4.0+ and by Chrome v3.0+ */
  background-image: -webkit-gradient(linear, 50% 0%, 50% 174%, color-stop(0, #fafafa), color-stop(1, #f0f0f0));
  /* Chrome v10.0+ and by safari nightly build*/
  background-image: -webkit-linear-gradient(-90deg, #fafafa 0%, #f0f0f0 100%);
  /* Opera v11.10+ */
  background-image: -o-linear-gradient(-90deg, #fafafa 0%, #f0f0f0 100%);
  /* IE v10+ */
  background-image: -ms-linear-gradient(-90deg, #fafafa 0%, #f0f0f0 100%);
  background-image: linear-gradient(180deg, #fafafa 0%, #f0f0f0 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#fffafafa,endColorstr=#fff0f0f0,GradientType=0)";
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#fffafafa,endColorstr=#fff0f0f0,GradientType=0);
}
@media screen and (max-width: 480px) {
  /* line 264, ../sass/search.scss */
  .table_header {
    display: none;
  }
}

/* line 285, ../sass/search.scss */
.new_price {
  color: #1385c4;
}
@media screen and (max-width: 480px) {
  /* line 285, ../sass/search.scss */
  .new_price {
    vertical-align: top;
    padding-top: 20px;
    font-size: 12px;
    font-size: 0.75rem;
  }
}

/* line 293, ../sass/search.scss */
.contract_price {
  color: #eb6c11;
}
@media screen and (max-width: 480px) {
  /* line 293, ../sass/search.scss */
  .contract_price {
    vertical-align: top;
    padding-top: 20px;
    font-size: 12px;
    font-size: 0.75rem;
  }
}

/* line 301, ../sass/search.scss */
.quotations {
  color: #eb6c11;
}
@media screen and (max-width: 480px) {
  /* line 301, ../sass/search.scss */
  .quotations {
    display: none;
  }
}

/* line 307, ../sass/search.scss */
.insession {
  color: #1385c4;
}
@media screen and (max-width: 480px) {
  /* line 307, ../sass/search.scss */
  .insession {
    display: none;
  }
}

/* line 313, ../sass/search.scss */
.sort_td {
  background: #FEF8F3;
}
@media screen and (max-width: 480px) {
  /* line 313, ../sass/search.scss */
  .sort_td {
    background: none;
  }
}

@media screen and (min-width: 481px) {
  /* line 320, ../sass/search.scss */
  .pc_none {
    display: none;
  }
}

/* line 327, ../sass/search.scss */
#compare_box {
  width: 100%;
  height: 50px;
  position: fixed;
  bottom: 0;
  /* Firefox v3.6+ */
  background-image: -moz-linear-gradient(36% 100% 90deg, #fafafa 0%, #f0f0f0 100%);
  /* safari v4.0+ and by Chrome v3.0+ */
  background-image: -webkit-gradient(linear, 36% 100%, 36% -134%, color-stop(0, #fafafa), color-stop(1, #f0f0f0));
  /* Chrome v10.0+ and by safari nightly build*/
  background-image: -webkit-linear-gradient(90deg, #fafafa 0%, #f0f0f0 100%);
  /* Opera v11.10+ */
  background-image: -o-linear-gradient(90deg, #fafafa 0%, #f0f0f0 100%);
  /* IE v10+ */
  background-image: -ms-linear-gradient(90deg, #fafafa 0%, #f0f0f0 100%);
  background-image: linear-gradient(0deg, #fafafa 0%, #f0f0f0 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#fff0f0f0,endColorstr=#fffafafa,GradientType=0)";
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#fff0f0f0,endColorstr=#fffafafa,GradientType=0);
}

/* line 347, ../sass/search.scss */
#search_nav {
  width: 400px;
  margin: 30px auto 50px;
}
@media screen and (max-width: 480px) {
  /* line 347, ../sass/search.scss */
  #search_nav {
    width: 100%;
    text-align: center;
    margin: 20px auto;
  }
}
/* line 356, ../sass/search.scss */
#search_nav a {
  text-decoration: none;
}
/* line 359, ../sass/search.scss */
#search_nav ul li {
  display: inline-block;
  text-decoration: none;
  margin: 0 5px;
  padding: 5px 8px;
}
/* line 364, ../sass/search.scss */
#search_nav ul li.number {
  margin: 0 5px;
  padding: 5px 8px;
  border: 1px solid #e0e0e0;
}
@media screen and (max-width: 480px) {
  /* line 364, ../sass/search.scss */
  #search_nav ul li.number {
    display: none;
  }
}
/* line 373, ../sass/search.scss */
#search_nav ul li.back {
  border-right: 1px solid #e0e0e0;
  padding: 5px 10px;
  margin-right: 10px;
}
/* line 378, ../sass/search.scss */
#search_nav ul li.next {
  border-left: 1px solid #e0e0e0;
  padding: 5px 10px;
  margin-left: 10px;
}

/* line 387, ../sass/search.scss */
#compare_box {
  height: 50px;
}
/* line 389, ../sass/search.scss */
#compare_box #compare_wrap {
  width: 900px;
  margin: 10px auto;
}
@media screen and (max-width: 480px) {
  /* line 389, ../sass/search.scss */
  #compare_box #compare_wrap {
    width: 100%;
    padding-left: 5px;
  }
}
/* line 396, ../sass/search.scss */
#compare_box #compare_wrap h3 {
  display: block;
  float: left;
  width: 290px;
  padding: 3px 0 0 50px;
  height: 21px;
  background: url(../img/bg_compare_box.png) no-repeat;
  margin-top: 10px;
}
@media screen and (max-width: 480px) {
  /* line 396, ../sass/search.scss */
  #compare_box #compare_wrap h3 {
    display: none;
  }
}
/* line 409, ../sass/search.scss */
#compare_box #compare_wrap #compare_right {
  width: 350px;
  float: right;
  padding-top: 2px;
  display: block;
}
@media screen and (max-width: 480px) {
  /* line 409, ../sass/search.scss */
  #compare_box #compare_wrap #compare_right {
    width: 100%;
    float: none;
  }
}
/* line 414, ../sass/search.scss */
#compare_box #compare_wrap #compare_right a {
  text-decoration: none;
}
/* line 418, ../sass/search.scss */
#compare_box #compare_wrap #compare_right p {
  display: block;
  width: 100px;
  float: left;
  margin-top: 10px;
}
@media screen and (max-width: 480px) {
  /* line 418, ../sass/search.scss */
  #compare_box #compare_wrap #compare_right p {
    font-size: 12px;
    font-size: 0.75rem;
    width: 24%;
  }
}
/* line 427, ../sass/search.scss */
#compare_box #compare_wrap #compare_right p#btn_compare {
  margin: 0;
}
/* line 429, ../sass/search.scss */
#compare_box #compare_wrap #compare_right p#btn_compare a {
  text-indent: -9999px;
  margin-left: 20px;
  display: block;
  width: 110px;
  height: 30px;
  background: url(../img/btn_compare.png) no-repeat;
}
@media screen and (max-width: 480px) {
  /* line 429, ../sass/search.scss */
  #compare_box #compare_wrap #compare_right p#btn_compare a {
    margin-left: 5px;
  }
}
/* line 439, ../sass/search.scss */
#compare_box #compare_wrap #compare_right p#btn_compare a:hover {
  filter: alpha(opacity=80);
  opacity: 0.80;
}
/* line 450, ../sass/search.scss */
#compare_box #compare_wrap #compare_right ul li {
  display: inline-block;
  float: left;
  width: 24px;
  height: 32px;
  background: url(../img/compare_no_checked.png) no-repeat center center;
}
/* line 458, ../sass/search.scss */
#compare_box #compare_wrap #compare_right ul li:hover .compare_item .compare_item_info {
  display: block;
}
/* line 463, ../sass/search.scss */
#compare_box #compare_wrap #compare_right ul li#compare_clear {
  margin-top: 10px;
  margin-right: 20px;
}
/* line 466, ../sass/search.scss */
#compare_box #compare_wrap #compare_right ul li#compare_clear a {
  text-decoration: none;
}
/* line 470, ../sass/search.scss */
#compare_box #compare_wrap #compare_right ul li .compare_item {
  position: relative;
  width: 12px;
  height: 12px;
  padding: 10px 6px;
  background: url(../img/compare_checked.png) no-repeat center center;
}
/* line 471, ../sass/search.scss */
#compare_box #compare_wrap #compare_right ul li .compare_item .compare_item_info {
  display: none;
  position: absolute;
  left: -70px;
  bottom: 30px;
  z-index: 10;
  width: 160px;
  background: #fff;
  border: 1px solid #ec6e11;
}
/* line 480, ../sass/search.scss */
#compare_box #compare_wrap #compare_right ul li .compare_item .compare_item_info:after {
  content: '';
  display: block;
  position: absolute;
  left: 75px;
  bottom: -5px;
  width: 10px;
  height: 5px;
  background: url(../img/compare_info_arw.png) no-repeat;
}
/* line 492, ../sass/search.scss */
#compare_box #compare_wrap #compare_right ul li .compare_item .compare_item_info .img img {
  display: block;
  width: 160px;
}
/* line 497, ../sass/search.scss */
#compare_box #compare_wrap #compare_right ul li .compare_item .compare_item_info .name {
  display: block;
  padding: 10px;
  font-size: 11px;
  font-size: 0.6875rem;
  line-height: 1.4;
  font-weight: bold;
  word-break: break-all;
}
/* line 507, ../sass/search.scss */
#compare_box #compare_wrap #compare_right ul li .compare_item .compare_item_info a:hover .name {
  text-decoration: underline;
}
/* line 512, ../sass/search.scss */
#compare_box #compare_wrap #compare_right ul li .compare_item .compare_item_info .compare_item_remove {
  display: block;
  position: absolute;
  top: 4px;
  right: 4px;
  z-index: 11;
  width: 26px;
  height: 26px;
  background: url(../img/btn_remove_item.png) no-repeat;
  cursor: pointer;
}
/* line 522, ../sass/search.scss */
#compare_box #compare_wrap #compare_right ul li .compare_item .compare_item_info .compare_item_remove:hover {
  filter: alpha(opacity=80);
  opacity: 0.80;
}
